.box1{
    width:175px;
    height:330px;
    background-color:red;
    z-index: 0;
    position:absolute;
    top:80px;
    left:420px;
    opacity: 1;
}
.box2{
    z-index:1;
    background-color: blue;
    width:265px;
    height:140px;
    position:absolute;
    top:155px;
    left:500px;
}
.box3{

    z-index: 2;
    font-family: monospace;
    width:175px;
    height:270px;
    background-color: #00ff00;
    font-size:34px;
    border: 5px solid black;
text-align:center;
    position:absolute;
    top:260px;
    left:690px;
}
@media only screen and (max-width: 400px) {
.box1{
    width:120px;
    height:255px;
    left:20px;
}
    .box2{width:175px;
        height:100px;
        left:80px;
        top:150px;
    }
    .box3{
        width:125px;
        height:240px;
        left:189px;
        top:225px;
        font-size:28px;
    }
}